.login-typing {
  background-color: #8b91ff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.login-typing .overlap-group-wrapper {
  background-color: #8b91ff;
  width: 1920px;
  height: 2000px;
}

.login-typing .overlap-group {
  position: relative;
  width: 766px;
  height: 1683px;
  top: 174px;
  left: 577px;
  background-color: #ffffff;
}

.login-typing .frame {
  flex-direction: column;
  width: 417px;
  gap: 300px;
  top: 290px;
  left: 174px;
  display: flex;
  align-items: center;
  position: relative;
}

.login-typing .text-wrapper {
  align-self: stretch;
  height: 156px;
  margin-top: -1.00px;
  font-family: "NEXON Lv1 Gothic-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 48px;
  text-align: center;
  position: relative;
  letter-spacing: 0;
  line-height: normal;
}

.login-typing .div {
  flex-direction: column;
  width: 374px;
  align-items: flex-start;
  gap: 20px;
  flex: 0 0 auto;
  display: flex;
  position: relative;
}

.login-typing .div-wrapper {
  gap: 10px;
  padding: 16px;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
  border-radius: 5px;
  overflow: hidden;
  border: 1px solid;
  border-color: #000000;
  display: flex;
  align-items: center;
  position: relative;
}

.login-typing .text-wrapper-2 {
  flex: 1;
  align-self: stretch;
  margin-top: -1.00px;
  font-family: "NEXON Lv1 Gothic-Regular", Helvetica;
  font-weight: 400;
  color: #000000b0;
  font-size: 16px;
  white-space: nowrap;
  position: relative;
  letter-spacing: 0;
  line-height: normal;
}

.login-typing .frame-2 {
  height: 50px;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 16px;
  align-self: stretch;
  width: 100%;
  background-color: #005bac;
  border-radius: 5px;
  overflow: hidden;
  border: 1px solid;
  border-color: #000000;
  display: flex;
  position: relative;
}

.login-typing .text-wrapper-3 {
  flex: 1;
  margin-top: -10.50px;
  margin-bottom: -8.50px;
  font-family: "NEXON Lv1 Gothic-Bold", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 32px;
  text-align: center;
  position: relative;
  letter-spacing: 0;
  line-height: normal;
}

.input-field {
  border: none;
  outline: none; /* 포커스 시 생기는 파란 테두리도 제거 */
  background-color: transparent; /* 필요 시 배경도 투명하게 */
  font-size: 16px; /* 텍스트 크기 */
  width: 100%;
}
