<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta charset="utf-8" />
    <link rel="stylesheet" href="globals_index_main.css" />
    <link rel="stylesheet" href="style_index_main.css" />
</head>
<body>
<div class="after-login-site" data-model-id="40:309">
    <div class="div">
        <div class="element">
            <div class="overlap-group">
                <div class="text-wrapper">스터디그룹 및 파란학기 매칭</div>
                <p class="p">아주대 내 스터디 그룹 및 파란학기 매칭시스템</p>
            </div>
        </div>
        <div class="mainmenu">
            <div class="group">
                <div class="div-wrapper"><div class="text-wrapper-2">정보 조회</div></div>
            </div>
            <div class="overlap-wrapper">
                <div class="div-wrapper"><div class="text-wrapper-3">스터디그룹</div></div>
            </div>
            <div class="group-wrapper">
                <div class="group-2"><div class="text-wrapper-4">파란학기</div></div>
            </div>
        </div>
        <div class="element-2">
            <div class="text-wrapper-5">Ajoudy</div>
            <div class="login"></div>
        </div>
    </div>
</div>
</body>
</html>
