<!DOCTYPE html>
<html>
<head><title>Login</title></head>
<body>
<h2>Login Page</h2>
<form action="/api/login" method="post" onsubmit="return login(event)">
    <input type="text" name="studentId" id="studentId" placeholder="ID"><br>
    <input type="password" name="password" id="password" placeholder="PW"><br>
    <button type="submit">로그인</button>
</form>

<p id="result"></p>

<script>
    async function login(event) {
        event.preventDefault();
        const studentId = document.getElementById("studentId").value;
        const password = document.getElementById("password").value;

        const response = await fetch('/api/login', {
            method: 'POST',
            headers: { 'Content-Type': 'application/json' },
            body: JSON.stringify({ studentId, password })
        });

       if (response.ok) {
        const result = await response.json();
        // 여기서 Student 객체를 그대로 받음
        document.getElementById("result").innerText =
            `ID: ${result.studentId}, 이름: ${result.name}, 학과: ${result.major}`;
    } else {
        document.getElementById("result").innerText = "로그인 실패!";
    }
    }
</script>
</body>
</html>
