<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta charset="utf-8" />
  <link rel="stylesheet" href="style_login.css" />
  <style>
    @import url('https://fonts.googleapis.com/css2?family=Inter:ital,wght@0,900;1,900&display=swap');
  </style>
</head>
<body>
<div class="box">
  <div class="login-wrapper">
    <h1 class="title"><i>Ajoudy</i></h1>

    <form class="login-form">
      <input type="text" id="username" name="username" placeholder="아이디" class="input-box" />
      <input type="password" id="password" name="password" placeholder="비밀번호" class="input-box" />

      <button type="submit" class="login-button">
        <span class="ajoudy-text">Ajoudy</span> <span class="login-text">로그인</span>
      </button>
    </form>
  </div>
</div>
</body>
</html>
