<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta charset="utf-8" />
    <link rel="stylesheet" href="globals.css" />
    <link rel="stylesheet" href="style_mypage.css" />  
</head>
<body>
<div class="mypage">
    <div class="group">
        <div class="overlap">
            <img class="star" src="img/star-1.svg" />
            <div class="rectangle"></div>
            <div class="text-wrapper">Ajoudy</div>
            <div class="overlap-group-wrapper">
                <div class="overlap-group"><div class="div">logout</div></div>
            </div>
            <div class="group-2">
                <img class="line" src="img/line-33.svg" />
                <img class="img" src="img/line-34.svg" />
                <img class="line-2" src="img/line-35.svg" />
            </div>
            <div class="star-wrapper"><img class="star-2" src="img/star-2.svg" /></div>
            <div class="overlap-wrapper">
                <div class="div-wrapper"><div class="text-wrapper-2">검색어를 입력하세요</div></div>
            </div>
        </div>
    </div>
    <div class="element">
        <div class="text-wrapper-3">내 프로필</div>
        <div class="text-wrapper-4">스터디 그룹</div>
        <div class="text-wrapper-5">파란학기</div>
        <div class="group-3">
            <div class="group-4"><div class="text-wrapper-6">이름</div></div>
            <div class="group-5"><div class="text-wrapper-6">학과</div></div>
            <div class="group-6"><div class="text-wrapper-6">학년</div></div>
            <div class="group-7"><div class="text-wrapper-6">연락처</div></div>
            <img class="line-3" src="img/line-32.svg" />
        </div>
        <div class="overlap-2">
            <div class="group-8">
                <div class="overlap-3">
                    <div class="rectangle-2"></div>
                    <div class="group-9">
                        <div class="overlap-group-2">
                            <div class="rectangle-3"></div>
                            <button class="text-wrapper-7">자세히 보기</button>
                        </div>
                    </div>
                    <img class="line-4" src="img/line-55.svg" />
                    <img class="line-5" src="img/line-54-2.svg" />
                    <img class="line-6" src="img/line-52-2.svg" />
                    <img class="line-7" src="img/line-53.svg" />
                    <img class="line-8" src="img/line-51-2.svg" />
                    <div class="group-10"><div class="text-wrapper-8">이름</div></div>
                    <div class="group-11"><div class="text-wrapper-8">일정</div></div>
                    <div class="group-12"><div class="text-wrapper-8">장소</div></div>
                    <div class="group-13">
                        <div class="overlap-group-2">
                            <div class="rectangle-3"></div>
                            <button class="text-wrapper-7">자세히 보기</button>
                        </div>
                    </div>
                    <img class="line-9" src="img/line-32-2.svg" />
                    <img class="line-10" src="img/image.svg" />
                </div>
            </div>
            <img class="line-11" src="img/line-50-2.svg" />
        </div>
        <div class="group-14">
            <div class="overlap-4">
                <div class="rectangle-4"></div>
                <img class="line-12" src="img/line-57.svg" />
                <img class="line-13" src="img/line-56.svg" />
                <img class="line-14" src="img/line-54.svg" />
                <img class="line-15" src="img/line-53-2.svg" />
                <img class="line-8" src="img/line-52.svg" />
                <img class="line-16" src="img/line-51.svg" />
                <div class="group-15"><div class="text-wrapper-8">이름</div></div>
                <div class="group-16"><div class="text-wrapper-8">학과</div></div>
                <div class="group-17"><div class="text-wrapper-8">학년</div></div>
                <div class="group-18">
                    <div class="overlap-group-3">
                        <div class="rectangle-3"></div>
                        <button class="text-wrapper-9">연락처</button>
                    </div>
                </div>
                <img class="line-17" src="img/line-50.svg" />
                <img class="line-18" src="img/line-55-2.svg" />
            </div>
        </div>
    </div>
    <div class="group-wrapper">
        <div class="group-19">
            <div class="overlap-group-4">
                <div class="rectangle-5"></div>
                <div class="rectangle-6"></div>
                <div class="rectangle-7"></div>
                <div class="text-wrapper-10">홈</div>
                <div class="text-wrapper-11">스터디그룹</div>
                <div class="text-wrapper-12">파란학기</div>
                <div class="text-wrapper-13">마이 페이지</div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
